<?xml version="1.0"  encoding="UTF-8" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    <display-name>Archetype created web application</display-name>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.RoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/room/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VaccantRoomServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.VaccantRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VaccantRoomServlet</servlet-name>
        <url-pattern>/vaccantroom/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userdetails/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BedServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.BedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BedServlet</servlet-name>
        <url-pattern>/bed/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.BookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MonthServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.MonthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonthServlet</servlet-name>
        <url-pattern>/month/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.SearchUserId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/searchUser/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OnlyRoomServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.OnlyRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OnlyRoomServlet</servlet-name>
        <url-pattern>/onlyroom/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActiveUserCountServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.ActiveUserCountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActiveUserCountServlet</servlet-name>
        <url-pattern>/activeuser/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InActiveUserCountServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.InActiveUserCountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InActiveUserCountServlet</servlet-name>
        <url-pattern>/inactiveuser/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BedCountServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.BedCountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BedCountServlet</servlet-name>
        <url-pattern>/bedcount/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RoomCountServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.RoomCountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoomCountServlet</servlet-name>
        <url-pattern>/roomcount/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActiveBookingServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.ActiveBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActiveBookingServlet</servlet-name>
        <url-pattern>/activebooking/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InActiveBookingServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.InActiveBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InActiveBookingServlet</servlet-name>
        <url-pattern>/inactivebooking/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PaymentCountServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.PaymentCountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentCountServlet</servlet-name>
        <url-pattern>/paymentcount/*</url-pattern>
    </servlet-mapping>
</web-app>
